---
layout: default
---
<div class="post-container">
  <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    {%- comment -%} 포스트 헤더 {%- endcomment -%}
    {%- include post-header.html -%}

    {%- comment -%} 포스트 내용 {%- endcomment -%}
    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    {%- comment -%} 포스트 하단 {%- endcomment -%}
    {%- include post-footer.html -%}
  </article>

  {%- comment -%} 목차 사이드바 {%- endcomment -%}
  {%- include toc.html -%}
</div>

{%- comment -%} JavaScript 파일들 {%- endcomment -%}
<script src="{{ '/assets/js/toc.js' | relative_url }}"></script>
<script src="{{ '/assets/js/code-copy.js' | relative_url }}"></script>
